endpoint=http://apr2023.archive.ensembl.org/biomart/
schema=default
species=celegans_gene_ensembl
database_name=Caenorhabditis elegans genes and proteins
file_name=Ce_Derby_Ensembl_109
chromosome_name=I,II,III,IV,MtDNA,V,X
probe_datasource=Affy,Agilent
probe_set=affy_c_elegans,affy_gpl19230,agilent_012795,agilent_015061,agilent_020186,agilent_gpl13394,agilent_gpl13914,agilent_gpl14144,agilent_gpl19516,agilent_gpl8304
gene_datasource=entrezgene_id,go_id,pdb,refseq_mrna,refseq_ncrna,refseq_peptide,uniprotsptrembl,uniprotswissprot,wikigene_id,wormbase_gene