endpoint=http://apr2023.archive.ensembl.org/biomart/
schema=default
species=mmusculus_gene_ensembl
database_name=Mus musculus genes and proteins
file_name=Mm_Derby_Ensembl_109
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,X,Y,MT
probe_datasource=Affy,Agilent,Illumina
probe_set=affy_mg_u74a,affy_mg_u74av2,affy_mg_u74b,affy_mg_u74bv2,affy_mg_u74c,affy_mg_u74cv2,affy_moe430a,affy_moe430b,affy_moex_1_0_st_v1,affy_mogene_1_0_st_v1,affy_mogene_2_1_st_v1,affy_mouse430a_2,affy_mouse430_2,affy_mu11ksuba,affy_mu11ksubb,agilent_sureprint_g3_ge_8x60k,agilent_wholegenome,agilent_wholegenome_4x44k_v1,agilent_wholegenome_4x44k_v2,illumina_mouseref_8,illumina_mousewg_6_v1,illumina_mousewg_6_v2
gene_datasource=entrezgene_id,go_id,hgnc_id,hgnc_symbol,mgi_id,mgi_symbol,mirbase_accession,mirbase_id,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,ucsc,uniprotsptrembl,uniprotswissprot,wikigene_id