endpoint=http://apr2023.archive.ensembl.org/biomart/
schema=default
species=sscrofa_gene_ensembl
database_name=Sus scrofa genes and proteins
file_name=Ss_Derby_Ensembl_109
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,MT,X,Y
probe_datasource=Affy
probe_set=affy_porcine
gene_datasource=entrezgene_id,go_id,hgnc_id,hgnc_symbol,mirbase_accession,mirbase_id,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id
