endpoint=http://feb2021.archive.ensembl.org/biomart/
schema=default
species=btaurus_gene_ensembl
database_name=Bos taurus genes and proteins
file_name=Bt_Derby_Ensembl_103
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,X,MT
probe_datasource=Affy
probe_set=affy_bovine
gene_datasource=entrezgene_id,pdb,mirbase_id,mirbase_accession,refseq_ncrna,refseq_peptide,refseq_mrna,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id,go_id,hgnc_symbol,refseq_peptide_predicted,refseq_ncrna_predicted,refseq_mrna_predicted
