endpoint=http://feb2021.archive.ensembl.org/biomart/
schema=default
species=dmelanogaster_gene_ensembl
database_name=Drosophila melanogaster genes and proteins
file_name=Dm_Derby_Ensembl_103
chromosome_name=2L,2R,3L,3R,4,mitochondrion_genome,X,Y
probe_datasource=
probe_set=
gene_datasource=go_id,flybase_gene_id,mirbase_accession,mirbase_id,entrezgene_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
