endpoint=https://sep2025-plants.ensembl.org/biomart/
schema=plants_mart
species=tcacao_eg_gene 
database_name=Theobroma cacao genes and proteins
file_name=Tc_Derby_Ensembl_Plant_62
chromosome_name=1,2,3,4,5,6,7,8,9,10
probe_datasource=
probe_set=
gene_datasource=entrezgene_id,go_id,mirbase_accession,mirbase_id,pdb,refseq_dna,refseq_peptide,uniprotsptrembl,uniprotswissprot
