endpoint=https://sep2025-plants.ensembl.org/biomart/
schema=plants_mart
species=vvinifera_eg_gene
database_name=Vitis vinifera genes and proteins
file_name=Vv_Derby_Ensembl_Plant_62
chromosome_name=
probe_datasource=Affy
probe_set=affy_vitis_vinifera
gene_datasource=entrezgene_id,go_id,mirbase_accession,mirbase_id,pdb,refseq_dna,refseq_mrna,refseq_mrna_predicted,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id,unigene,plantgdb_put
