endpoint=http://feb2021.archive.ensembl.org/biomart/
schema=default
species=celegans_gene_ensembl
database_name=Caenorhabditis elegans genes and proteins
file_name=Ce_Derby_Ensembl_103
chromosome_name=I,II,III,IV,MtDNA,V,X
probe_datasource=Affy,Agilent
probe_set=affy_c_elegans,affy_gpl19230,agilent_012795,agilent_015061,agilent_gpl13394,agilent_gpl13914,agilent_020186,agilent_gpl8304,agilent_gpl19516,agilent_gpl14144
gene_datasource=wikigene_id,wormbase_gene,uniprotsptrembl,uniprotswissprot,pdb,entrezgene_id,go_id,refseq_peptide
