endpoint=https://feb2023-plants.ensembl.org/biomart/
schema=plants_mart
species=gmax_eg_gene
database_name=Glycine max genes and proteins
file_name=Gm_Derby_Ensembl_Plant_56
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
probe_datasource=Affy,Agilent
probe_set=affy_soybean,affy_soygene,agilent_g2519f_016772
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot,unigene
