endpoint=https://feb2023-plants.ensembl.org/biomart/
schema=plants_mart
species=osativa_eg_gene
database_name=Oryza sativa japonica genes and proteins
file_name=Oj_Derby_Ensembl_Plant_56
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,Pt,Mt
probe_datasource=Affy,Agilent
probe_set=affy_rcngene,affy_rice,affy_rjpgene,agilent_g2519f_015058,agilent_g2519f_015241,agilent_g4138a_012106
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
