endpoint=https://feb2023-plants.ensembl.org/biomart/
schema=plants_mart
species=stuberosum_eg_gene
database_name=Solanum tuberosum genes and proteins
file_name=St_Derby_Ensembl_Plant_56
chromosome_name=00,1,2,3,4,5,6,10,11,12
probe_datasource=
probe_set=
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,uniprotsptrembl,uniprotswissprot,wikigene