endpoint=https://feb2023-plants.ensembl.org/biomart/
schema=plants_mart
species=vvinifera_eg_gene
database_name=Vitis vinifera genes and proteins
file_name=Vv_Derby_Ensembl_Plant_56
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,Un
probe_datasource=Affy
probe_set=affy_vitis_vinifera
gene_datasource=entrezgene_id,go_id,mirbase_accession,mirbase_id,pdb,refseq_dna,refseq_mrna,refseq_mrna_predicted,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id,unigene,plantgdb_put