endpoint=http://apr2022.archive.ensembl.org/biomart/
schema=default
species=clfamiliaris_gene_ensembl
database_name=Canis familiaris genes and proteins
file_name=Cf_Derby_Ensembl_106
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,MT,X
probe_datasource=Affy
probe_set=affy_canine_2
gene_datasource=entrezgene_id,go_id,hgnc_id,hgnc_symbol,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id


