endpoint=http://apr2022.archive.ensembl.org/biomart/
schema=default
species=dmelanogaster_gene_ensembl
database_name=Drosophila melanogaster genes and proteins
file_name=Dm_Derby_Ensembl_106
chromosome_name=2L,2R,3L,3R,4,mitochondrion_genome,X,Y
probe_datasource=Affy
probe_set=affy_drosgenome1,affy_drosophila_2
gene_datasource=entrezgene_id,flybase_gene_id,go_id,mirbase_accession,mirbase_id,pdb,refseq,refseq_dna,refseq_mrna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
