endpoint=http://apr2020.archive.ensembl.org/biomart/
schema=default
species=hsapiens_gene_ensembl
database_name=Homo sapiens genes and proteins
file_name=Hs_Derby_Ensembl_100
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT
probe_datasource=
probe_set=
gene_datasource=entrezgene_id,hgnc_id,hgnc_symbol,mirbase_accession,pdb,refseq_mrna,refseq_ncrna,refseq_peptide,uniprotsptrembl,uniprotswissprot,wikigene_id
