endpoint=https://nov2020-plants.ensembl.org/biomart/
schema=plants_mart
species=hvulgare_eg_gene
database_name=Hordeum vulgare genes and proteins
file_name=Hv_Derby_Ensembl_Plant_49
chromosome_name=chrUn,chr7H,chr5H,chr2H,chr6H,chr1H,chr3H,chr4H,Pt,Mt
probe_datasource=Affy,Agilent
probe_set=affy_barley1,agilent_g2519f_021623
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
