endpoint=http://dec2021.archive.ensembl.org/biomart/
schema=default
species=scerevisiae_gene_ensembl
database_name=Saccharomyces cerevisiae genes and proteins
file_name=Sc_Derby_Ensembl_105
chromosome_name=I,II,III,IV,IX,Mito,V,VI,VII,VIII,X,XI,XII,XIII,XIV,XV,XVI
probe_datasource=Affy
probe_set=affy_yeast_2,affy_yg_s98
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,sgd_gene,uniprotswissprot
