endpoint=http://may2025.archive.ensembl.org/biomart/
schema=default
species=celegans_gene_ensembl
database_name=Caenorhabditis elegans genes and proteins
file_name=Ce_Derby_Ensembl_114
chromosome_name=I,II,III,IV,MtDNA,V,X
probe_datasource=
probe_set=
gene_datasource=entrezgene_id,go_id,pdb,refseq_mrna,refseq_ncrna,refseq_peptide,uniprotsptrembl,uniprotswissprot,wikigene_id,wormbase_gene
