endpoint=http://may2025.archive.ensembl.org/biomart/
schema=default
species=gmorhua_gene_ensembl
database_name=Atlantic cod genes and proteins
file_name=Gm_Derby_Ensembl_114
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
probe_datasource=
probe_set=
gene_datasource=entrezgene_id,go_id,hgnc_id,hgnc_symbol,mirbase_accession,mirbase_id,pdb,refseq_mrna_predicted,refseq_ncrna_predicted,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id
