endpoint=https://dec2021-plants.ensembl.org/biomart/
schema=plants_mart
species=hvulgare_eg_gene
database_name=Hordeum vulgare genes and proteins
file_name=Hv_Derby_Ensembl_Plant_52
chromosome_name=1H,2H,3H,4H,5H,6H,7H,chrUn,Pt,Mt
probe_datasource=Affy,Agilent
probe_set=affy_barley1,agilent_g2519f_021623
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
