endpoint=https://dec2021-plants.ensembl.org/biomart/
schema=plants_mart
species=slycopersicum_eg_gene
database_name=Solanum lycopersicum genes and proteins
file_name=Sl_Derby_Ensembl_Plant_52
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12
probe_datasource=Affy,Agilent
probe_set=affy_tomato,affy_tomgene,agilent_g2519f_022270
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
