endpoint=https://dec2021-plants.ensembl.org/biomart/
schema=plants_mart
species=zmays_eg_gene
database_name=Zea mays genes and proteins
file_name=Zm_Derby_Ensembl_Plant_52
chromosome_name=1,2,3,4,5,6,7,8,9,10,Pt,Mt
probe_datasource=Affy,Agilent
probe_set=affy_gpl16720,affy_maize,agilent_g2519f_016047
gene_datasource=entrezgene_id,go_id,pdb,refseq_dna,refseq_peptide,uniprotsptrembl,uniprotswissprot