endpoint=http://metazoa.ensembl.org/biomart/
schema=metazoa_mart_28
species=agambiae_eg_gene
database_name=Anopheles gambiae genes and proteins
file_name=Ag_Derby_Ensembl_Metazoa_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=rfam,mirbase,refseq_mrna,refseq_peptide,uniprot_sptrembl,pdb,go_accession,unigene,entrezgene,wikigene_id,uniprot_swissprot_accession
