endpoint=http://jan2019.archive.ensembl.org/biomart/
schema=default
species=celegans_gene_ensembl
database_name=Caenorhabditis elegans genes and proteins
file_name=Ce_Derby_Ensembl_80
chromosome_name=I,II,III,IV,V,X,MtDNA
probe_datasource=Agilent,Affy
gene_datasource=unigene,entrezgene,go_id,pdb,refseq_mrna,refseq_ncrna,refseq_peptide,uniprot_sptrembl,uniprot_swissprot,wikigene_id,wormbase_gene_seq_name
