endpoint=http://jan2019.archive.ensembl.org/biomart/
schema=default
species=dmelanogaster_gene_ensembl
database_name=Drosophila melanogaster genes and proteins
file_name=Dm_Derby_Ensembl_80
chromosome_name=2L,2R,3L,3R,4,X,Y,dmel_mitochondrion_genome,rDNA
probe_datasource=Affy
gene_datasource=uniprot_sptrembl,uniprot_swissprot,flybase_gene_id,flybase_transcript_id,flybase_translation_id,wikigene_id,refseq_mrna,refseq_ncrna,refseq_peptide,refseq_mrna_predicted,refseq_ncrna_predicted,refseq_peptide_predicted,rfam,go_id,entrezgene,mirbase_accession,pdb
