endpoint=http://plants.ensembl.org/biomart/
schema=plants_mart_28
species=gmax_eg_gene
database_name=Glycine max genes and proteins
file_name=Gm_Derby_Ensembl_Plant_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=refseq_mrna,refseq_mrna_predicted,refseq_peptide,refseq_peptide_predicted,uniprot_sptrembl,pdb,go_accession,entrezgene,wikigene_id,uniprot_swissprot_accession
