endpoint=http://jan2019.archive.ensembl.org/biomart/
#endpoint=http://mar2016.archive.ensembl.org/biomart/
schema=default
species=hsapiens_gene_ensembl
database_name=Homo sapiens genes and proteins
file_name=Hs_Derby_Ensembl_80
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT
probe_datasource=Affy,Agilent,Illumina
probe_set=affy_hc_g110,affy_hg_focus,affy_hg_u133a_2,affy_hg_u133a,affy_hg_u133b,affy_hg_u133_plus_2,affy_hg_u95av2,affy_hg_u95b,affy_hg_u95c,affy_hg_u95d,affy_hg_u95e,affy_hg_u95a,affy_primeview,affy_hugenefl,affy_hugene_1_0_st_v1,affy_hugene_2_0_st_v1,efg_agilent_sureprint_g3_ge_8x60k,efg_agilent_sureprint_g3_ge_8x60k_v2,efg_agilent_wholegenome_4x44k_v1,efg_agilent_wholegenome_4x44k_v2,agilent_cgh_44b,illumina_humanwg_6_v1,illumina_humanwg_6_v2,illumina_humanwg_6_v3,illumina_humanht_12_v3,illumina_humanht_12_v4
gene_datasource=uniprot_swissprot,mim_gene_accession,mim_morbid_accession,ucsc,hgnc_symbol,unigene,wikigene_id,refseq_mrna,refseq_ncrna,refseq_peptide,uniprot_sptrembl,rfam,go_id,entrezgene,mirbase_accession,pdb
