endpoint=http://plants.ensembl.org/biomart/
schema=plants_mart_43
species=hvulgare_eg_gene
database_name=Hordeum vulgare genes and proteins
file_name=Hv_Derby_Ensembl_Plant_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=refseq_peptide,uniprot_sptrembl,pdb,go_accession,entrezgene,wikigene_id,uniprot_swissprot_accession,rfam
