endpoint=http://plants.ensembl.org/biomart/
schema=plants_mart_28
species=osativa_eg_gene
database_name=Oryza sativa japonica genes and proteins
file_name=Oj_Derby_Ensembl_Plant_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=tigr_locus,irgsp,refseq_mrna,refseq_peptide,uniprot_sptrembl,pdb,go_accession,entrezgene,wikigene_id,uniprot_swissprot_accession
