endpoint=http://protists.ensembl.org/biomart/
schema=protists_mart_28
species=pfalciparum_eg_gene
database_name=Plasmodium falciparum genes and proteins
file_name=Pf_Derby_Ensembl_Protists_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=refseq_dna_predicted,refseq_peptide_predicted,uniprot_sptrembl,pdb,go_accession,entrezgene,wikigene_id,uniprot_swissprot_accession
