endpoint=http://plants.ensembl.org/biomart/
schema=plants_mart_28
species=ptrichocarpa_eg_gene
database_name=Populus trichocarpa genes and proteins
file_name=Pi_Derby_Ensembl_Plant_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=plantgdb_put,gramene_markersdb_est,gramene_markersdb_mrna,refseq_dna_predicted,refseq_mrna_predicted,refseq_peptide,refseq_peptide_predicted,uniprot_sptrembl,pdb,go_accession,unigene,entrezgene,wikigene_id,uniprot_swissprot_accession
