endpoint=http://jan2019.archive.ensembl.org/biomart/
schema=default
species=rnorvegicus_gene_ensembl
database_name=Rattus norvegicus genes and proteins
file_name=Rn_Derby_Ensembl_80
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,X,Y,MT
probe_datasource=Affy,Agilent,Illumina
probe_set=affy_ragene_1_0_st_v1,efg_agilent_sureprint_g3_ge_8x60k,efg_agilent_wholegenome_4x44k_v1,efg_agilent_wholegenome_4x44k_v3,affy_rae230a,affy_rae230b,affy_ragene_2_1_st_v1,affy_rat230_2,affy_rg_u34a,affy_rg_u34b,affy_rg_u34c,affy_rn_u34,affy_rt_u34,illumina_ratref_12_v1
gene_datasource=mgi_id,mgi_symbol,mgi_transcript_name,rgd_transcript_name,rgd,hgnc_symbol,unigene,wikigene_id,refseq_mrna,refseq_ncrna,refseq_peptide,refseq_mrna_predicted,refseq_ncrna_predicted,refseq_peptide_predicted,uniprot_sptrembl,uniprot_swissprot,rfam,go_id,entrezgene,mirbase_accession,pdb
