endpoint=http://jan2019.archive.ensembl.org/biomart/
schema=default
species=scerevisiae_gene_ensembl
database_name=Saccharomyces cerevisiae genes and proteins
file_name=Sc_Derby_Ensembl_80
chromosome_name=I,II,III,IV,V,VI,VII,VIII,IX,X,XI,XII,XIII,XIV,XV,XVI,Mito
probe_set=affy_yeast_2,affy_yg_s98
gene_datasource=sgd_gene,sgd_transcript,wikigene_id,refseq_mrna,refseq_peptide,uniprot_sptrembl,uniprot_swissprot,go_id,entrezgene,pdb
