endpoint=http://plants.ensembl.org/biomart/
schema=plants_mart_43
species=slycopersicum_eg_gene
database_name=Solanum lycopersicum genes and proteins
file_name=Sl_Derby_Ensembl_Plant_28
probe_datasource=Affy,Agilent,Illumina
gene_datasource=biocyc,uniprot_sptrembl,pdb,tair_locus,go_accession,unigene,entrezgene,wikigene_id,nasc_gene_id,uniprot_swissprot_accession
