endpoint=http://may2015.archive.ensembl.org/biomart/
schema=default
species=xtropicalis_gene_ensembl
database_name=Xenopus tropicalis genes and proteins
file_name=Xt_Derby_Ensembl_80
probe_datasource=Affy,Agilent,Illumina
gene_datasource=hgnc_symbol,unigene,wikigene_id,refseq_peptide,refseq_peptide_predicted,uniprot_sptrembl,uniprot_swissprot,rfam,go_id,entrezgene,mirbase_accession,pdb
