endpoint=https://dec2021-metazoa.ensembl.org/biomart/
schema=metazoa_mart
species=dpulex_eg_gene
database_name=Daphnia pulex genes and proteins
file_name=Dp_Derby_Ensembl_Metazoa_52
chromosome_name=
probe_datasource=
probe_set=
gene_datasource=go_id,pdb,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
