endpoint=http://jan2024.archive.ensembl.org/biomart/
schema=default
species=drerio_gene_ensembl
database_name=Danio rerio genes and proteins
file_name=Dr_Derby_Ensembl_111
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,MT
probe_datasource=Affy,Agilent
probe_set=affy_zebgene_1_0_st_v1,affy_zebgene_1_1_st_v1,affy_zebrafish,agilent_g2518a,agilent_g2519f,agilent_gpl14629,agilent_gpl14664,agilent_gpl15450,agilent_gpl15747,agilent_gpl15799,agilent_gpl17670,agilent_gpl17686,agilent_gpl20686,agilent_gpl20834,agilent_gpl20900,agilent_gpl21244,agilent_gpl21361,agilent_gpl21860,agilent_gpl22083,agilent_gpl23036,agilent_gpl7244,agilent_gpl7301,agilent_gpl7302,agilent_gpl7735,agilent_gpl7801,agilent_gpl9060,agilent_gpl9074
gene_datasource=entrezgene_id,go_id,hgnc_id,hgnc_symbol,mirbase_accession,mirbase_id,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id,zfin_id_id,zfin_id_symbol
