endpoint=http://jan2024.archive.ensembl.org/biomart/
schema=default
species=oanatinus_gene_ensembl
database_name=Ornithorhynchus anatinus genes and proteins
file_name=Oa_Derby_Ensembl_111
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,MT,X1,X2,X3,X4,X5
probe_datasource=Affy
probe_set=affy_platypus_exon
gene_datasource=entrezgene_id,go_id,hgnc_id,hgnc_symbol,mirbase_accession,mirbase_id,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id
