endpoint=http://may2021.archive.ensembl.org/biomart/
schema=default
species=mmulatta_gene_ensembl
database_name=Macaca mulatta genes and proteins
file_name=Ml_Derby_Ensembl_104
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,MT,X,Y
probe_datasource=Affy,Agilent
probe_set=affy_cyngene_1_0_st_v1,affy_cyrgene_1_0_st_v1,affy_hg_u133a_2,affy_hg_u133b,affy_hg_u95a,affy_hg_u133_plus_2,affy_hg_u133a,affy_hg_focus,affy_hc_g110,affy_hta_2_0,affy_hg_u95e,affy_hg_u95d,affy_hg_u95c,affy_hg_u95b,affy_hg_u95av2,affy_u133_x3p,affy_rhesus,affy_rhegene_1_1_st_v1,affy_rhegene_1_0_st_v1,affy_primeview,affy_hugene_2_0_st_v1,affy_hugene_1_0_st_v1,affy_hugenefl,affy_huex_1_0_st_v2,agilent_gpl19384,agilent_gpl17465,agilent_gpl10157,agilent_gpl10158
gene_datasource=go_id,hgnc_symbol,mirbase_accession,mirbase_id,entrezgene_id,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotswissprot,uniprotsptrembl,wikigene_id
