endpoint=http://may2021.archive.ensembl.org/biomart/
schema=default
species=ecaballus_gene_ensembl
database_name=Equus caballus genes and proteins
file_name=Qc_Derby_Ensembl_104
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,MT,X
probe_datasource=Affy,Agilent
probe_set=agilent_gpl15190,agilent_gpl15189,agilent_gpl13795,agilent_gpl10248,affy_equgene_1_1_st_v1,affy_equgene_1_0_st_v1,agilent_gpl23307,agilent_gpl20908,agilent_gpl17689,agilent_gpl15217,agilent_gpl15204
gene_datasource=go_id,hgnc_symbol,mirbase_accession,mirbase_id,entrezgene_id,pdb,refseq_mrna,refseq_mrna_predicted,refseq_ncrna,refseq_ncrna_predicted,refseq_peptide,refseq_peptide_predicted,rfam,uniprotsptrembl,uniprotswissprot,wikigene_id
