endpoint=http://may2021.archive.ensembl.org/biomart/
schema=default
species=rnorvegicus_gene_ensembl
database_name=Rattus norvegicus genes and proteins
file_name=Rn_Derby_Ensembl_104
chromosome_name=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,X,Y,MT
probe_datasource=Affy,Illumina,Agilent
probe_set=affy_rae230a,affy_rae230b,affy_raex_1_0_st_v1,affy_ragene_1_0_st_v1,affy_ragene_2_1_st_v1,affy_rat230_2,affy_rg_u34a,affy_rg_u34c,affy_rg_u34b,affy_rt_u34,affy_rn_u34,agilent_sureprint_g3_ge_8x60k,agilent_wholegenome_4x44k_v1,agilent_wholegenome_4x44k_v3,illumina_ratref_12_v1
gene_datasource=entrezgene_id,refseq_peptide,refseq_ncrna,refseq_mrna,rgd_id,uniprotsptrembl,uniprotswissprot,go_id,wikigene_id,mirbase_id,mirbase_accession,rfam,pdb,mgi_id,refseq_mrna_predicted,refseq_ncrna_predicted,refseq_peptide_predicted
