endpoint=https://nov2020-metazoa.ensembl.org/biomart/
schema=metazoa_mart
species=agambiae_eg_gene
database_name=Anopheles gambiae genes and proteins
file_name=Ag_Derby_Ensembl_Metazoa_49
chromosome_name=2L,3L,2R,3R,X,UNKN,Y_unplaced,Mt
probe_datasource=
probe_set=
gene_datasource=entrezgene_id,go_id,mirbase_accession,mirbase_id,pdb,refseq_dna,refseq_peptide,rfam,uniprotsptrembl,uniprotswissprot
