endpoint=http://jul2018-plants.ensembl.org/biomart/
schema=plants_mart
species=athaliana_eg_gene
database_name=Arabidopsis thaliana genes and proteins
file_name=At_Derby_Ensembl_Plant_40
probe_datasource=
gene_datasource=refseq_dna,refseq_peptide,uniprotsptrembl,uniprotswissprot,pdb,tair_locus,unigene,entrezgene,wikigene_id,nasc_gene_id